#navbarSupportedContent {
    display: flex;
    justify-content: end;
    align-items: end;
}

.workContainer {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: beige;
}