:root {
    --bg-color: cyan;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}

header {
    border-style: 0px solid var(--bg-color);
    border-right: 0px;
    background-image: linear-gradient(to bottom, wheat, grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

header h1 {
    background-color: var(--bg-color);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    color: var(--bg-color);
}

header li {
    list-style: none;
    padding: 10px;
    font-size: larger;
}

main h2 {
    text-align: right;
    background-image: linear-gradient(to bottom, grey, pink);
    padding: 50px;
}

section {
    display: flex;
}

.info1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.info1 h1 {
    border: solid black;
    border-left: 10px;
    border-top: none;
    border-bottom: none;
    margin: 10px;
    font-size: xx-large;
}

.info2 h1{
    border: solid black;
    border-left: 10px;
    border-top: none;
    border-bottom: none;
    margin: 10px;
    font-size: xx-large;
}

.examples {
    border-style: solid;
    border-width: 5px;
    border-color: var(--bg-color);
    padding: 50px;
    margin: 20px 10px;
    background-image: url("https://place-puppy.com/200x200");
}

.examples h1 {
    border: 5px solid var(--bg-color);
    border-bottom: none;
    background-color: var(--bg-color);
}

.examples p {
    border: 5px solid var(--bg-color);
    border-top: none;
    background-color: var(--bg-color);
}

.info3 {
    display: flex;
    justify-content: space-between;
}

.info3 ul {
    display: flex;
    align-items: center;
}

.info3 li {
    list-style: none;
    display: inline;
}

.info3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.examples:hover {
    box-shadow: 0px 0px 20px inset slateblue;
}

@media screen and (max-width: 768px) {
    .examples {
        width: 50%;
    }
}

@media screen and (max-width: 501px) {
    .examples {
        width: 100%;
    }
}
